<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.functionapps.mview_sdk2" >

    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <application

        android:hardwareAccelerated="true"
        >

    <service
        android:name=".service.ListenService"
        android:enabled="true"
        android:exported="false"
        android:stopWithTask="false" />


        <service
            android:name=".service.Background_capture"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false" />

  <!--      <service
            android:name=".GetReport"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false" />-->

    </application>
    <uses-feature android:name="android.hardware.telephony" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />





</manifest>
